<main class="continar">
<div class="row">
<diV class="col-md-1"></diV>

<%= render 'books/info', book: @book, user: @user %>

<div class="col-md-7">
<h1>Users</h1>
<div></div>
<% @users.each do |user| %>
<%= image_tag 'no_image.jpg' %>
<%= @user.name %>
<%= link_to "Show", user_path(user.id) %>
<% end %>
</div>
<div class="col-md-1"></div>
</div>
</main>