<main class="continar">
<div class="row">
<diV class="col-md-1"></diV>

<%= render 'books/info', book: @book, user: @user %>

<div class="col-md-7">
<h1>Users</h1>
<table width="50%">
  <tr>
  <th>image</th>
  <th>name</th>
  <th></th>
  </tr>
<% @users.each do |user| %>
<tr align="center">
<td><%= image_tag user.get_profile_image %></td>
<td><%= user.name %></td>
<td><%= link_to "Show", user_path(user.id) %></td>
</tr>
<% end %>
</table>
</div>
<div class="col-md-1"></div>
</div>
</main>